.box-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 12px; /* 外层圆角 */
  padding: 4px; /* 为了显示边框的厚度 */
  background: linear-gradient(to right, #ff6ec4, #7873f5); /* 渐变边框 */
}

.box {
  background-color: #1e1e2f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-wrap: break-word; /* 支持从单词内断开 */
}
